html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}

.App {
  max-width: 1920px;
  margin: auto;
}

@media screen and (min-width: 2048px) {
  .App {
    max-width: 2048px;
    margin: auto;
  }
}
@media screen and (min-width: 2560px) {
  .App {
    max-width: 2560px;
    margin: auto;
  }
}

/* scrollbar */
::-webkit-scrollbar{
  background: #fff27d !important;
}
::-webkit-scrollbar-thumb {
  background: black !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #101010 !important;
}


/* nav */
.nav {
  width: 100%;
  font-family: 'Righteous';
  background-color: #000000ab;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: -3px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background: transparent;
    cursor: pointer;
  }
  .nav > .nav-btn > label > .displayMenu > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid yellow;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000000c2;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
    backdrop-filter: blur(10px);
  }

  .displayMenu:active div:first-child {
    transform: rotate(45deg);
  }
  .displayMenu:active div:nth-child(2) {
    opacity: 0;
  }
  .displayMenu:active div:last-child {
    transform: rotate(-45deg);
  }
}

/* nav elements hovers */
.navSections::before, .navSections::after {
  font-weight: 400;
  color: #FFD200;
  opacity: 0;
  left: -15px;
  content: '<';
  transition: opacity 0.5s ease;
}
.navSections::after {
  left: unset;
  right: -15px;
  content: '/>';
}
.navSections:hover::before,
.navSections:hover::after {
    opacity: 1;
}

.navSectionsTitle::before, .navSectionsTitle::after {
  font-weight: 400;
  color: #dc2626;
  opacity: 0;
  left: -15px;
  content: '<';
  transition: opacity 0.5s ease;
}
.navSectionsTitle::after {
  left: unset;
  right: -15px;
  content: '/>';
}
.navSectionsTitle:hover::before,
.navSectionsTitle:hover::after {
    opacity: 1;
}

/* btn display nav */
.displayMenu {
  display: flex;
  flex-direction: column;
  width: 2.2rem;
  height: 2rem;
  border: 0;
  background: transparent;
  gap: .65rem;
}

.displayMenu > div {
  background:yellow;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all .5s;
  transform-origin: left;
}


/* about */
#about p, #about span {
  font-family: "SF UI Text Medium", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

.full-width {
  width: 100%;
  margin: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  padding: 9vh 5vh 2vh 5vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.div-avatar {
  opacity: 1; transform: translateX(0px) translateY(0%) translateZ(0px);
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.box {
  background: rgba(14, 14, 14, 0.7);
  box-shadow: 0px 0px 30px 5px #15151552;
  border-radius: 3px;
  color: #000;
  backdrop-filter: blur(3px);
  font-size: calc(10px + 2vmin);
}

@media (max-width: 510px) {
  #about {
    padding: 4px;
  }
  Atropos .aboutme {
    font-size:15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 650px) {
  .about-info {
    width: 100%;
  }

  .box {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .flex-row span {
    text-align: center;
  }

  .skills {
    margin-top: 1px !important;
  }

  Atropos .aboutme {
    font-size:15px;
    line-height: 20px;
  }
}


/* skills */
.skills {
  margin-right: 9rem;
  margin-left: 9rem;
}
.skillsIcons {
  margin-left: auto;
  margin-right: auto;
}
.skillsIcons img {
  max-height: 55px;
  max-width: 55px;
  margin: auto;
}

.section-stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-title {
  font-family: 'Righteous', sans-serif;
  color:azure;
  margin: 0 auto 25px;
}


/* projects section*/
.projects h3 {
  font-family: "SF UI Text Medium", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

@media screen and (max-width: 650px) {
  .projects {
    margin-right: 3px;
    margin-left: 3px;
  }
  .skills {
    margin-right: 3px;
    margin-left: 3px;
  }
}

/* contact section */
#contact {
  font-family: "SF UI Text Medium", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}


/* footer */
footer {
  background:radial-gradient(black, transparent);
}


/* Atropos*/
[data-atropos-offset] {
  transition-property: transform
}
[data-atropos-opacity] {
  transition-property: opacity
}
[data-atropos-offset][data-atropos-opacity] {
  transition-property: transform, opacity
}


/* data titles of technologies */
[data-title]:hover:after {
  opacity: 1;
  transition: all .15s ease .5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background: #000;
  font-size: 0.8em;
  font-family: 'Righteous';
  color: #ffff00;
  position: absolute;
  padding: 2px 7px;
  bottom:-0.8rem;
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.206), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 7px;
  z-index: 5;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
