.App {
  text-align: center;
  background-color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111 /* #282c34 */;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav */
nav {
  position: sticky;
  top: 0;
  font-family: 'Righteous';
}

.NavbarItems {
  background-color: #000000ab;
  margin: 0;
  padding: 0;
  height: 80px;
}

nav a {
  color:#ff6060;
}

.NavbarItems h1 {
  color: white;
  padding: 10px;
  font-size: 25px;
}
.logo {
  width: 20%;
  float: left;
}
.navbar-ul {
  width: 80%;
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0;
}
li {
  display: inline;
  list-style: none;
  font-size: 18px;
  padding: 10px;
  line-height: 50px;
}
.nav-links {
  color: white;
  text-decoration: none;
}
.nav-links-mobile {
  color: white;
  text-decoration: none;
}
li:hover {
  background-color: white;
}
li:hover .nav-links {
  color: black;
}
li:hover .nav-links-mobile {
  color: black;
}


/* about */

.introLeft {
  text-align: left;
  align-items: left;
}

.me {
  height: 300px;
  float: right;
}

.aboutMe {
  font-size: 12px;
  text-align: center;
}

.grid {
  justify-items: center;
}

.intro {
  padding: 4vh;
}

.myPhoto {
  padding: 1vh;
}


/* skills */
.skills h2 {
  font-family: 'Righteous', sans-serif;
  color:azure;
}
.skills {
  background-color: #111;
}
.skillsIcons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skillsIcons img {
  max-height: 50px;
  max-width: 50px;
}


/* footer */
footer {
  background-color:darkslategrey;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 15vh;
}

.text-4xl {
  color: white;
}