.App {
  background-color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav */
nav {
  position: sticky;
  top: 0;
  font-family: 'Righteous';
  z-index: 10;
  text-align: center;
}

.NavbarItems {
  background-color: #000000ab;
  margin: 0;
  padding: 0;
  height: 80px;
}

nav a {
  color:#ff6060;
}

.NavbarItems h1 {
  color: white;
  padding: 10px;
  font-size: 25px;
}
.logo {
  width: 20%;
  float: left;
}
.navbar-ul {
  width: 80%;
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0;
}
li {
  display: inline;
  list-style: none;
  font-size: 18px;
  padding: 10px;
  line-height: 50px;
}
.nav-links {
  color: white;
  text-decoration: none;
}
.nav-links-mobile {
  color: white;
  text-decoration: none;
}
li:hover {
  background-color: white;
}
li:hover .nav-links {
  color: black;
}
li:hover .nav-links-mobile {
  color: black;
}

/* about */
.alfa {
  font-family: 'Alfa Slab One', cursive;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.full-width {
  width: 100%;
  margin: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  padding: 18vh 5vh 18vh 5vh;
  background-color: #111;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.avatar {
  border: 10px solid #ddddddc5;
  
  margin: auto;
  max-height: 300px;
  max-width: 300px;
}

.css-ghgpv1 {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.div-avatar {
  opacity: 1; transform: translateX(0px) translateY(0%) translateZ(0px);
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.about-info {
  width: 50%;
}

.box {
  background: rgb(14 14 14);
  box-shadow: 0px 0px 20px 9px #ddddddc5;
  border-radius: 15px;
  color: #000;
  padding: 40px;
}

@media (max-width: 510px) {
  #about {
    padding: 4px;
  }
}

@media screen and (max-width: 650px) {
  .about-info {
    width: 100%;
  }

  .box {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .flex-row span {
    text-align: center;
  }

}


/* skills */
.skills h2 {
  font-family: 'Righteous', sans-serif;
  color:azure;
  margin: 0 auto 25px;
}
.skills {
  background-color: #111;
}
.skillsIcons {
  width: 40%;
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  margin-left: auto;
  margin-right: auto;
}
.skillsIcons img {
  max-height: 50px;
  max-width: 50px;
  margin: auto;
}

/* footer */
footer {
  background-color:darkslategrey;
  align-items: center;
  justify-content: center;
  height: 100px;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  margin-top: 10vh;
}

.text-4xl {
  color: white;
}
