.btn {
       padding: 0.4em 1em;
       border: none;
       outline: none;
       color: #FFF;
       font-family: 'Righteous', sans-serif;
       font-weight: 500;
       font-size: 17px;
       cursor: pointer;
       position: relative;
       z-index: 0;
       border-radius: 12px;
       background-color: rgb(46, 46, 46);
}

/* glow */
.btn::before {
       content: "";
       background-color: rgb(46, 46, 46);
       background: linear-gradient(45deg,
                     #3e3e3e, #F5DF16, #3e3e3e, #F5DF16,
                     #3e3e3e, #F5DF16, #F5DF16, #3e3e3e);
       position: absolute;
       top: -2px;
       left: -2px;
       background-size: 600%;
       z-index: -1;
       width: calc(100% + 4px);
       height: calc(100% + 4px);
       filter: blur(8px);
       animation: glowing 20s linear infinite;
       transition: opacity .3s ease-in-out;
       border-radius: 10px;
       opacity: 0;
}

@keyframes glowing {
       0% {
              background-position: 0 0;
       }

       50% {
              background-position: 400% 0;
       }

       100% {
              background-position: 0 0;
       }
}

/* hover */
.btn:hover::before {
       opacity: 1;
}

.btn:active:after {
       background: transparent;
}

.btn:active {
       color: #000;
       font-weight: bold;
}


/* contact button */
.contact-btn {
       border: .25em solid rgb(255, 250, 91);
       padding: 1em 3em;
       color: rgb(17 24 39);
       font-size: 15px;
       font-weight: bold;
       background-color: rgb(255, 250, 91);
       border-radius: 1em;
       outline: none;
       position: relative;
       transition: all 0.3s;
}
.contact-btn:hover {
       color: rgb(17 24 39);
       background-color: transparent;
       content:"Let's talk";
       transition: all 1s;
}
.contact-btn:hover span {
       display: none;
}
.contact-btn:hover:before {
       content: "Let's talk";
}
.contact-btn:focus {
       color: rgba(253, 255, 114, 0.781);
       transition: all .1s;
}
.contact-btn:active {
       color: rgba(253, 255, 114, 0.781);
       transition: all .1s;
}
