@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: linear-gradient(
    320deg,
    hsl(240deg 8% 97%) 0%,
    hsl(253deg 18% 98%) 14%,
    hsl(267deg 28% 98%) 20%,
    hsl(283deg 35% 97%) 24%,
    hsl(301deg 39% 97%) 29%,
    hsl(317deg 60% 97%) 33%,
    hsl(328deg 88% 98%) 36%,
    hsl(335deg 100% 98%) 40%,
    hsl(341deg 100% 97%) 43%,
    hsl(349deg 100% 97%) 47%,
    hsl(357deg 100% 97%) 50%,
    hsl(6deg 100% 97%) 53%,
    hsl(14deg 100% 96%) 57%,
    hsl(20deg 100% 96%) 60%,
    hsl(25deg 100% 95%) 64%,
    hsl(29deg 100% 94%) 67%,
    hsl(33deg 100% 94%) 71%,
    hsl(36deg 100% 93%) 76%,
    hsl(39deg 100% 93%) 80%,
    hsl(45deg 83% 92%) 86%,
    hsl(54deg 66% 91%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}